@use '../../../styles/variables' as variables

.dialog
    border-top: 4px solid var(--color-red)

.message
    color: var(--text-color-primary)
    font-size: variables.$fontSizeParagraph

.actions
    display: flex
    gap: 10px
    justify-content: flex-end
    margin-top: 16px
